<ion-content  scrollX="false" color="medium" scrollY="false" >
<div class="main-content">
    <ion-card color="primary" class="title-card">
      <h3>Terms and Conditions</h3>
      <ion-card color="light" class="terms-data-card">
        <div class="divScrollData">
          <p>Definitions: definitions.</p>
          <p>Credit: docular credit; free documents licensing warning. </p>
          <p>Term: commencement of term; end of term. </p>
          <p>
            Hosted Services: provision of hosted services access credentials (effective date); 
            grant of licence to use hosted services; limitations on use of hosted services (short-form); 
            prohibitions on the use of the hosted services; security of access credentials; availability of hosted services; 
            FAOD exceptions to hosted services availability; hosted services acceptable use policy; 
            no damaging use of hosted services; no excessive use of the hosted services; 
            no unlawful use of hosted services; no access to platform code; suspension of hosted services.
          </p>
          <p>
            Scheduled maintenance: right to suspend hosted services for scheduled maintenance; 
            notice of scheduled maintenance to hosted services; times for provision of scheduled maintenance; 
            maximum aggregate time for scheduled maintenance of hosted services. Support Services: support services provision; 
            helpdesk obligation; standard of support services; purpose of support services helpdesk; 
            support services responses to be prompt; suspension of support services. 
          </p>
          <p>
            Customer Data: licence of second party data (hosted services); warranties relating to second party data; 
            back-up of second party data; restoration of second party data. 
          </p>
          <p>Mobile App: mobile App governed by separate terms.</p>
          <p>No assignment of Intellectual Property Rights: no assignments of intellectual property rights.</p>
          <p>
            Charges: obligation to pay charges; time-base charges limitations; amounts inclusive or exclusive of VAT; 
            variation of charges. 
          </p>
          <p>
            Payments: issue of invoices; time for payment of charges following invoice; payment methods; 
            interest on late payments. 
          </p>
          <p>
            Provider's confidentiality obligations: first party confidentiality undertaking; 
            disclosure of confidential information by first party to certain persons; 
            exceptions to first party's confidentiality obligations; disclosures of second party confidential information mandated by law etc; 
            first party confidentiality obligations after termination. 
          </p>
          <p>
            Data protection: compliance with data protection laws; 
            warranty of Customer's right to disclose personal data (GDPR); details of personal data processed by the Provider (GDPR); 
            purposes of processing of personal data by the Provider (GDPR); duration of personal data processing by Provider (GDPR); 
            personal data processed by Provider on instructions (GDPR); authorised international transfers of personal data (GDPR); 
            informing Customer of illegal instructions (GDPR); personal data processed by Provider as required by law (GDPR); 
            confidentiality obligations on Provider persons processing personal data (GDPR); 
            security of personal data processed by Provider (GDPR); appointment of sub-processor by Provider (GDPR); 
            authorisation for Provider to appoint sub-processors (GDPR); Provider to assist with exercise of data subject rights (GDPR); 
            Provider to assist with compliance (GDPR); obligation to notify Customer of personal data breach (GDPR); 
            Provider to provide data protection compliance information (GDPR); deletion of personal data by Provider (GDPR); 
            Provider to allow audit (GDPR); changes to data protection law. 
          </p>
          <p>
            Warranties: first party general warranties; 
            hosted services general warranties; warranty of legality of hosted services; 
            hosted services intellectual property infringement warranty; breach of hosted services infringement warranty; 
            second party warranty of authority; exclusion of implied warranties and representations. 
          </p>
          <p>
            Acknowledgements and warranty limitations: hosted services not error free; 
            hosted services not entirely secure; hosted services compatibility limitation; no legal etc advice with hosted services. 
          </p>
          <p>
            Limitations and exclusions of liability: caveats to limits of liability; interpretation of limits of liability; 
            no liability for force majeure; no liability for loss of profits; no liability for loss of revenue; 
            no liability for loss of use; no liability for loss of opportunities; 
            no liability for loss of data or software (subject to back-up obligations); no liability for consequential loss; 
            per event liability cap upon services contract; aggregate liability cap upon services contract. 
          </p>
          <p>
            Force Majeure Event: obligations suspended for force majeure; force majeure notification and information; 
            mitigation of effects of force majeure. 
          </p>
          <p>
            Termination: termination by either party without cause; termination by either party upon breach; 
            termination upon insolvency. 
          </p>
          <p>
            Effects of termination: surviving provisions upon termination; termination does not affect accrued rights; 
            charges on termination of contract. 
          </p>
          <p>
            Notices: methods and deemed receipt of contractual notices; first party contact details for contractual notices; 
            substitute contact details for notices. 
          </p>
          <p>
            Subcontracting: no subcontracting without consent; subcontracting permitted; 
            first party responsible for subcontracted obligations; subcontracting of hosting. 
          </p>
          <p>
            General: no waiver; severability; variation written and signed; no assignment without written consent; 
            no third party rights; entire agreement; governing law; exclusive jurisdiction. 
          </p>
          <p>
            Interpretation: statutory references; section headings not affecting interpretation; 
            calendar month meaning; no ejusdem generis. 
          </p>
          <p>Schedule 1 (Hosted Services particulars) Specification of Hosted Services: specification of hosted services prompt.</p>
          <p>Financial provisions: financial provisions prompt.</p>
          <p>Contractual notices: prompt for second party contractual notice address details.</p>
          <p>
            Schedule 2 (Acceptable Use Policy) Introduction: definitions for acceptable use policy; parties to acceptable use policy; 
            agreement to policy by using services; express agreement to policy; services user minimum age under policy. 
          </p>
          <p>General usage rules: no damaging use of services; no unlawful use of services; content must comply with provisions of part.</p>
          <p>
            Unlawful Content: no unlawful user content: general prohibition; no unlawful user content: specific prohibitions; 
            previous complaints and user content. 
          </p>
          <p>Graphic material: age suitability of user content; no violence in user content; no pornographic user content. </p>
          <p>Factual accuracy: content must be truthful; content must not risk defamation.</p>
          <p>Negligent advice: no professional advice in user content; no negligent advice in user content.</p>
          <p>
            Etiquette: content appropriate etc; no offensive content; no annoying content; no hostile communications; 
            no deliberate offense; no content flooding; no duplicate content; categorisation of content; appropriate content titles; 
            courtesy to service users. 
          </p>
          <p>
            Marketing and spam: prohibition on marketing activities; no spam in user content; 
            sending spam using email addresses; no promotion of marketing schemes; avoidance of IP blacklisting. 
          </p>
          <p>Regulated businesses: no gambling-related activities; no pharmaceutical activities; no weapon-related activities.</p>
          <p>Monitoring: acknowledgement relating to monitoring.</p>
          <p>Data mining: no data mining.</p>
          <p>Hyperlinks: no hyperlinks to prohibited content.</p>
          <p>Harmful software: no harmful software; no risky software.</p>
          <p>Schedule 3 (Data processing information) Categories of data subject: prompt for categories of data subject.</p>
          <p>Types of Personal Data: prompt for types of personal data.</p>
          <p>Purposes of processing: prompt for personal data processing purposes.</p>
          <p>Security measures for Personal Data: prompt for security measures for personal data.</p>
          <p>Sub-processors of Personal Data: prompt for identifying sub-processors of personal data.</p>
        </div>
      </ion-card>
      <ion-item class="chk-item" color="primary" lines="none">
        <ion-checkbox [(ngModel)]="isTermAccepted" mode="md" slot="start"></ion-checkbox>
        I Agree
      </ion-item>
    </ion-card>
    <ion-button color="silver" [disabled]="!isTermAccepted" class="reply-btn" (click)="gotoHome()" >Get started</ion-button>
</div>
</ion-content>
