<ion-header class="ion-no-border">
  <ion-toolbar class="name-toolbar" color="medium"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title translate>reset.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" class="ion-padding">
  <div class="login-content">
  <!-- <ion-card class="ion-padding" color="medium"> -->
    <!-- <img *ngIf="this.merchant" class="logo" src="../assets/merchant.png"> -->
    <img class="logo" src="../../assets/merchant.png">
    <form class="form-wrapper" [formGroup]="resetPasswordForm">
      <div class="form-input-div">
      <ion-item color="medium" class="form-item" lines="none">
        <ion-label position="stacked">{{'register.email_note' | translate}}</ion-label> 
        <ion-input formControlName="email" type="email" [class.invalid]="!resetPasswordForm.controls['email'].valid 
        && resetPasswordForm.controls['email'].touched"></ion-input> 
        </ion-item>
        <ion-item color="medium" class="error-message" lines="none"
        *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">
        <ion-label translate>register.email_warn</ion-label>
      </ion-item>
      <ion-button class="form-submit-btn" (click)="resetPassword(resetPasswordForm)" 
      [disabled]="!resetPasswordForm.valid" translate>
        reset.reset
      </ion-button> 
    </div>
    </form>
  </div>
  <!-- </ion-card>   -->
</ion-content>
