form {
    margin-bottom: 32px; 
    ion-button {
      margin-top: 20px !important;
    } 
}

ion-content{
  --background: var(--ion-color-medium);
}

ion-card{
  max-width: 500px;
  margin: auto;
}

.error-message { 
  min-height: 2.2rem;
  ion-label {
      margin: 2px 0;
      font-size: 1em;
      color: #ffffff;
  }
  // .item-inner {
  //     border-bottom: 0 !important;
  // }
}

ion-input { 
  margin-top: 6px;
  --color: #333333;
  --background: var(--ion-color-light);
  border-radius: 5px;
  border-radius: 99px;
}

p {
  font-size: 0.8em; 
  color: #d2d2d2;
}

ion-label { 
    margin-left: 5px;
} 

.invalid {
border-bottom: 1px solid #ff6153;
}

.logo{
  display: block;
  max-width: 150px;
  padding-bottom: 20px;
  margin: auto;
}

ion-item{
  margin-bottom: 10px;
}

ion-avatar{
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.card{
  margin-top: 30px;
}
