<ion-header class="ion-no-border">
  <ion-toolbar color="medium"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title translate>reset.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="ion-padding" color="medium">
    <!-- <img *ngIf="this.merchant" class="logo" src="../assets/merchant.png"> -->
    <img class="logo" src="../../assets/merchant.png">
    <form [formGroup]="resetPasswordForm">
      <ion-item color="medium" lines="none">
        <!-- <ion-label position="stacked">Email</ion-label>  -->
        <ion-input
        formControlName="email"
        type="email"
        placeholder="{{'register.email_note' | translate}}" [class.invalid]="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched"
        >
        </ion-input> </ion-item>
        <ion-item
        color="medium"
        class="error-message" *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched"
        >
        <ion-label translate>register.email_warn</ion-label>
      </ion-item>
      <ion-button class="ion-padding"
      expand="block" color="light" shape="round" (click)="resetPassword(resetPasswordForm)" [disabled]="!resetPasswordForm.valid"
      translate>
      reset.reset
      </ion-button> 
    </form>
  </ion-card>  
</ion-content>
