<ion-content color="medium">
  <div class="login-content">
  <img class="logo" src='../../assets/humbl-white.png'>
  <!-- <div class="content"> -->
    <ion-icon color="light" class="success-icon" name="checkmark-circle-outline"></ion-icon>
    <p class="msg-text" translate>verify.check</p>
    <!-- <p (click)="authService.sendEmailVerificationLink(userData.email, false)">
      <b>verify.resend</b>
    </p> -->
    <div class="btn-content">
      <ion-button class="form-submit-btn" routerLink="/login" translate>
        verify.login
      </ion-button>
      <ion-button class="form-submit-btn resend-btn"
      (click)="authService.sendEmailVerificationLink(userData.email, false)" translate>
        verify.resend
      </ion-button>
    </div>    
    <!-- <p routerLink="/login">
      <b>verify.login</b>
    </p> -->
  </div>
</ion-content>
