<ion-content color="medium">
  <div class="top-profile-content">
    <img class="profile-hubs-logo" src='../assets/hubs.png'>
    <div class="profile-info">
      <div class="profile-text">
        <h3>Maria C.</h3>
        <p>HUBS AGENT #4567</p>
      </div>
      <ion-thumbnail class="thumb-image">
        <img src="../../assets/Picture6@2x.png" />
      </ion-thumbnail>
    </div>
  </div>
  <div class="welcome-card-wrapper">
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/agent/send-money'" 
      [routerLink]="'/agent/send-money'">
        <ion-item color="primary">
          <ion-label>Send Money</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon name="mail"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/agent/receive-money'"
      [routerLink]="'/agent/receive-money'">
        <ion-item color="primary">
          <ion-label>Receive Money</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon name="mail"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/agent/exchange-money'"
      [routerLink]="'/agent/exchange-money'">
        <ion-item color="primary">
          <ion-label>Exchange Money</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon src="../../assets/random-icon.svg"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/agent/loan-products'"
      [routerLink]="'/agent/loan-products'">
        <ion-item color="primary">
          <ion-label>Get a Loan</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon name="mail"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/agent/pay-bills'"
      [routerLink]="'/agent/pay-bills'">
        <ion-item color="primary">
          <ion-label>Pay Bills</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon name="mail"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/agent/agent-settings'"
      [routerLink]="'/agent/agent-settings'">
        <ion-item color="primary">
          <ion-label>Other</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <img class="setting-img" src="../../assets/agent-settings.png" />
      </ion-card>
    </div>
  <h1 class="resource-text ion-padding-start">Resources</h1>
    <div class="welcome-card-wrapper resource-wrapper ion-padding-start">
        <ion-card class="welcome-card" color="medium" href="https://humbl-1.gitbook.io/humbl-agent-manual/">
          <ion-item color="primary">
            <ion-label>Agent Manual</ion-label>
            <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
          </ion-item>
          <div class="welcome-card-icon">
            <ion-icon name="document"></ion-icon>
          </div>
        </ion-card>
        <ion-card class="welcome-card" color="medium" href="https://humbl.io">
          <ion-item color="primary">
            <ion-label>Technical Support</ion-label>
            <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
          </ion-item>
          <div class="welcome-card-icon">
            <ion-icon name="pulse"></ion-icon>
          </div>
        </ion-card>
    </div>
</ion-content>
