<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div class="title-wrapper">
      <h3 class="title-text">Your payment code.</h3>
    </div>

  <div class="barcode-wrapper">
    <div class="barcode-content" #barcode3>
      <div class="barcode-data data3" [style.background]="selectedColor">
        <ion-card class="card" color="light" *ngIf="this.qrData">
              <qrcode [qrdata]="this.qrData" [width]="250" [errorCorrectionLevel]="'M'" [elementType]="'svg'"
              [colorLight]="lightcolor" [colorDark]="selectedColor"></qrcode>
        </ion-card>
        <!-- <div class="div2"> -->
          <img class="logo" src="../../assets/cards-logo.png">
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="btn-wrapper next-btn-wrapper">
      <ion-button class="btn-main" shape="round" 
      color="medium" fill="outline" (click)="back()">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
  </div> -->
</div>
</ion-content>