.barcode-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.barcode-content{
    display: flex;
    justify-content: center;
    width: 270px;
    flex-direction: column;
}
.barcode-data{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card{
    margin: auto;
    padding: 10px;
    max-width: 220px;
    max-height: 220px;
    border-radius: 10px;
    box-shadow: none !important;
    border: solid 1px #d8d8d8;
}
.logo {
    margin-top: 10px;
    width: 100%;
    max-width: 230px;
}
.logo2{
    margin: auto;
    max-width: 150px;
    margin: 20px 0px;
}

@media screen and (max-width: 370px) {
    .barcode-data{
        width: 35270px0px;
    }
}