<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <h3 class="title">Scan to make payment.</h3>
    <img class="businessLogo" src="{{this.userProfile?.logoUrl}}">
  <div class="barcode-wrapper">
    <div class="barcode-content" #barcode3>
      <div class="barcode-data data3">
        <div class="logo-div2" *ngIf="logoImageURL">
          <img class="logo2" [src]="logoImageURL">
        </div>
        <ion-card class="card" color="light" *ngIf="this.qrData">
              <qrcode [qrdata]="this.qrData" [width]="150" [errorCorrectionLevel]="'M'" [elementType]="'svg'"
              [colorLight]="lightcolor" [colorDark]="selectedColor"></qrcode>
        </ion-card>
        <div class="logo-div2">
          <img class="logo2" src="../../assets/humbl-blue.png">
        </div>
        <!-- <div class="div2"> -->
          <img class="logo" src="../../assets/cards-logo.png">
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
</ion-content>