<ion-content color="medium">
  <div class="top-profile-content">
    <img class="profile-hubs-logo" src='../assets/hubs.png'>
    <div class="profile-info">
      <div class="profile-text">
        <h3>{{this.userProfile?.businessName}}</h3>
        <!-- <p>HUBS AGENT #4567</p> -->
      </div>
      <ion-thumbnail class="thumb-image">
        <img *ngIf="this.userProfile?.logoUrl" [src]="this.userProfile?.logoUrl" />
        <img *ngIf="!this.userProfile?.logoUrl" src="../../assets/avatar.png" />
      </ion-thumbnail>
    </div>
  </div>
  <div class="welcome-card-wrapper">
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/merchant/merchant-profile'" 
      [routerLink]="'/merchant/merchant-profile'">
        <ion-item color="primary">
          <ion-label>Merchant Profile</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="merchant-img"></div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/merchant/settings'" 
      [routerLink]="'/merchant/settings'">
        <ion-item color="primary">
          <ion-label>Gross Sales</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-text">
          <h3>$1,750.00</h3>
          <span>August 15, 2020</span>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/merchant/messages'" 
      [routerLink]="'/merchant/messages'">
        <ion-item color="primary">
          <ion-label>Text Orders</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon name="chatbox"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/merchant/pos'" [routerLink]="'/merchant/pos'">
        <ion-item color="primary">
          <ion-label>Payments</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon name="calculator"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" (click)="this.appHelperService.activeUrl = '/merchant/reviews'" 
      [routerLink]="'/merchant/reviews'">
        <ion-item color="primary">
          <ion-label>Reviews</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="review-wrapper">
          <ion-item class="review-item" color="medium" lines="none">
            <ion-thumbnail class="review-image" slot="start">
              <img src="../../assets/gallery/les-anderson-ixb3sh0thWI-unsplash@2x.png" />
            </ion-thumbnail>
            <ion-label>
              <h3 class="review-title">SHAWNA C.</h3>
              <p class="review-subtitle">Bogota, Colombia</p>
              <p class="review-star">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </p>
              <p class="review-time">3:30 PM | July 20, 2020</p>
            </ion-label>
          </ion-item>         
          <span class="review-note">“Tacos were great, thank you!”</span>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" [routerLink]="'/merchant/transaction-details'">
        <ion-item color="primary">
          <ion-label>Transactions</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon name="repeat"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" [routerLink]="'/merchant/transaction-details'">
        <ion-item color="primary">
          <ion-label>Refunds</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon name="repeat"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="welcome-card" color="medium" [routerLink]="'/merchant/transaction-details'">
        <ion-item color="primary">
          <ion-label>Offers</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="welcome-card-icon">
          <ion-icon name="repeat"></ion-icon>
        </div>
      </ion-card>
      <!-- <ion-card class="welcome-card" color="medium" [routerLink]="'/merchant/offers'">
        <ion-item color="primary">
          <ion-label>Special Offers & Deals</ion-label>
          <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <div class="review-wrapper">
          <ion-item class="review-item" color="medium" lines="none">
            <ion-thumbnail class="offer-image" slot="start">
              <img src="../../assets/gallery/Screen Shot 2020-07-17 at 1.23 1@2x.png" />
            </ion-thumbnail>
            <ion-label>
              <h3 class="review-title">Today’s Deals</h3>
              <p class="review-subtitle">Taco Tuesday</p>
              <p class="review-time">$5 off text orders</p>
            </ion-label>
          </ion-item>    
        </div>
      </ion-card> -->
  </div>
  <!-- <div class="agent-banner">
    <ion-row>
      <ion-col size="6">
        <h2>Become an Agent</h2>
      </ion-col>
      <ion-col size="6">
        <ion-button class="agent-button" color="light" shape="round" [routerLink]="'/merchant/agent-inquiry'">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </div> -->

  <!-- <h1 class="resource-text">Resources</h1>
    <div class="welcome-card-wrapper resource-wrapper ion-padding-start">
        <ion-card class="welcome-card" color="medium" href="https://humbl.io">
          <ion-item color="primary">
            <ion-label>Technical Support</ion-label>
            <ion-icon class="welcome-card-arrow" name="chevron-forward" slot="end"></ion-icon>
          </ion-item>
          <div class="welcome-card-icon">
            <ion-icon name="pulse"></ion-icon>
          </div>
        </ion-card>
    </div> -->