<ion-header class="ion-no-border">
  <ion-toolbar class="profile-toolbar" color="medium">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/grid"></ion-back-button>
    </ion-buttons>
    <ion-title class="">Text Orders</ion-title>
    <ion-buttons slot="end">
      <div class="profile-info">
        <div class="profile-text">
          <h3>Maria C.</h3>
          <p>HUBS AGENT #4567</p>
        </div>
        <ion-thumbnail class="thumb-image">
          <img src="../../assets/Picture6@2x.png" />
        </ion-thumbnail>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="chat-content" scrollX="false" color="medium" scrollY="false" #content>
  <div class="main-content">
    <div class="content-wrapper">
      <div class="user-profile">
        <ion-thumbnail class="user-image">
          <img src="../../assets/gallery/les-anderson-ixb3sh0thWI-unsplash@2x.png" />
        </ion-thumbnail>
        <h3 class="profile-name">{{toUserName}}</h3>
        <span class="profile-date">@shawnanana</span>
        <span class="profile-date">+1 619-867-5309</span>
      </div>
      <div class="divScrollData" #scrollDiv>   
        <app-chat-details [chatMessage]="chatMessage"
                          [fromUserId]="fromUserId"
                          [fromUserImg]="fromUserImage"
                          [toUserImg]="toUserImage"
                          [fromUserName]="fromUserName"
                          [toUserName]="toUserName"
          *ngFor="let chatMessage of chatMessages;">
        </app-chat-details>
      </div>
    </div>  
    <div class="order-icon-wrapper">
      <div class="order-icon">
        <ion-icon color="light" class="key-icon" src="../../assets/keyboard.svg"></ion-icon>
        <div class="text-wrapper">
          <span>customer</span>
          <span>order <ion-icon name="chevron-forward-outline"></ion-icon> </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">

  <ion-toolbar class="footer-wrapper" color="primary">  
    <ion-icon name="camera" color="medium" class="footer-icon-camera" slot="start" (click)="cameraClick()" size="large">
    </ion-icon>
    <ion-textarea #messageInput type="text" autocapitalize="sentences" spellcheck="true" class="chat-box" rows="1" placeholder="Type message... "
      [(ngModel)]="message" name="message" appTextInputHeight>
    </ion-textarea>
    <ion-button slot="end" color="medium" no-padding shape="round" class="footer-button"
      (click)="sendChatMessage(); messageInput.setFocus();">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>

  </ion-toolbar>

</ion-footer>
