form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    ion-button {
        margin-top: 20px !important;
    }
}

ion-card{
    max-width: 500px;
    margin: auto;
}

// ion-segment{
//     margin-bottom: 10px;
// }

// ion-segment-button{
//     border: solid 1px;
//     margin: 5px;
// }

ion-avatar{
    position: absolute;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

// .invalid {
//     border-bottom: 1px solid #ff6153;
// }


.error-message { 
    min-height: 2rem;
    ion-label {
        margin: 2px 15px;
        font-size: 0.8em;
        color: var(--ion-color-danger);
    }
    // .item-inner {
    //     border-bottom: 0 !important;
    // }
}

ion-input { 
    --color: #ffffff;
    border-bottom: 1px solid white;
    margin: 6px 10px
    // --background: var(--ion-color-light);
    // border-radius: 5px;
    // border-radius: 99px;
}

span{
    font-weight: 800;
}

p{
    text-align: center;
    margin-top: 0px;
}

ion-label{
    --color: #ffffff;
}

.space {
    ion-row {
        margin-top: 30px;
    }
}

.padding{
    margin-bottom: 20px;
}

.logo{
    display: block;
    max-width: 150px;
    padding-bottom: 20px;
    margin: auto;
}

ion-content{
    --background: var(--ion-color-medium);
}

ion-button{
    --ion-color-contrast: var(--ion-color-medium) !important;
    --box-shadow: none;
    opacity: 1;
}

// .social{
//     display: block;
//     margin: auto;
//     max-width: 300px;
// }

p{
    color: #ffffff;
}

.social_buttons{
    position: relative;
    ion-button{
        margin: 10px auto;
        width: 80%;
        height: 46px;
        span{
            width: 100%;
            margin-left: 40px;
        }
    }
    ion-icon.apple{
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
    }
    .icon_container {
        background: var(--ion-color-light);
        width: 32px;
        height: 32px;
        border-radius: 16px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
        ion-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            &.facebook{
                font-size: 36px;
            }
        }
    }
}    

.or{
    margin-top: 20px;
}   