.login-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: calc(env(safe-area-inset-top) + 50px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
}
.logo {
    max-width: 600px;
    width: 90%;
}
.thumb-image {
    width: 275px;
    min-height: 277px;
    border: 1px solid #FFFFFF;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    img {
        width: 250px;
        max-height: 250px;
    }
}
.segment-wrapper {
    width: 80%;
    max-width: 420px;
    border: 3px solid #FFFFFF;
    border-radius: 12px;
    height: 63px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.segment-btn {
    font-size: 18px;
    --indicator-color: var(--ion-color-primary);
    margin: 0px;
    --background-checked: var(--ion-color-primary);
    --color-checked: #ffffff;
    --indicator-height: 0px;
}
.sagment-active {
    border: 2px solid #ffffff;
    border-radius:12px;
}

.form-submit-btn {
    margin: 40px 0px;
}
.social_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    ion-icon {
        margin: 0px 25px;
    }    
}
.google-icon {
    background: white;
    border-radius: 100%;
    font-size: 60px;
    padding: 20px;
}
.apple-icon {
    font-size: 100px;
    color: #000;
    padding: 0px;
}
.facebook-icon {
    background: white;
    border-radius: 100%;
    font-size: 100px;
    padding: 0px;
}
.sigup-text {
    font-size: 25px;
    text-align: center;
    margin: 0px;    
    line-height: 55px;
    text-transform: uppercase;
}

.sigup-text:last-of-type {
    margin-bottom: 30px;
}

@media screen and (max-width: 420px) { 
    .login-content {
        margin-top: calc(env(safe-area-inset-top) + 20px);
    }
    .logo {
        width: 80%;
    }
    .thumb-image {
        width: 135px;
        min-height: 137px;
        margin: 25px 0px;
        img {
            width: 100px;
            max-height: 110px;
        }
    }
    .segment-wrapper {
        width: 80%;
        max-width: 420px;
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        height: 45px;
        margin-bottom: 10px;
    }
    .segment-btn {
        font-size: 12px;
        --indicator-color: var(--ion-color-primary);
        margin: 0px;
    }
    .sagment-active {
        border: 1px solid #ffffff;
    }
    .form-submit-btn {
        margin: 20px 0px;
    }
    .social_buttons ion-icon {
        margin: 0px 10px;
    }
    .google-icon {
        font-size: 35px;
        padding: 10px;
    }
    .apple-icon {
        font-size: 55px;
    }
    .facebook-icon {
        font-size: 55px;
    }
    .sigup-text:last-of-type {
        margin-bottom: 20px;
    }
    .sigup-text {
        font-size: 14px;
        line-height: 26px;
    }
}