<ion-content color="medium" translate>
  <div class="login-content">
    <img class="logo" src="../../assets/hubs.png">
    <ion-thumbnail class="thumb-image">
      <img src="../../assets/Picture6@2x.png" />
    </ion-thumbnail>
    <form class="form-wrapper" [formGroup]="loginForm">
      <div class="form-input-div">
        <ion-segment class="segment-wrapper" #typesegment>
          <ion-segment-button class="segment-btn" value="merchant"
            [class.sagment-active]="this.typesegment.value === 'merchant'">
            <ion-label>Merchant</ion-label>
          </ion-segment-button>
          <ion-segment-button class="segment-btn" value="agent"
          [class.sagment-active]="this.typesegment.value === 'agent'">
            <ion-label>Agent</ion-label>
          </ion-segment-button>
        </ion-segment>        
        <ion-row>
          <ion-item color="medium" class="form-item" lines="none">
            <ion-label position="stacked">{{'common.email' | translate}}</ion-label>
            <ion-input value="{{this.username}}" formControlName="email"type="email"
            [class.invalid]="!loginForm.controls['email'].valid && loginForm.controls['email'].touched"></ion-input>
          </ion-item>         
        </ion-row>
        <ion-row lines="none" color="medium" class="error-message"
          *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
          <ion-label translate>login.validemail</ion-label>
        </ion-row>
        <ion-row>
          <ion-item color="medium" class="form-item" lines="none">
            <ion-label position="stacked">{{'common.password' | translate}}</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>      
        </ion-row>
        <ion-row lines="none" color="medium" class="error-message"
          *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
          <ion-label color="light" translate>login.validpassword</ion-label>
        </ion-row>
        <ion-button class="form-submit-btn" [disabled]="!loginForm.valid" (click)="loginUser(loginForm)" translate>
          common.signin
        </ion-button>
      </div>
      <p class="sigup-text" routerLink="/signup" translate>
        <b translate>login.signupnew</b>
      </p>
      <p class="sigup-text" routerLink="/reset-password" translate>
        login.forgotpassword
      </p>
      <div class="social_buttons">
          <ion-icon class="google-icon" src="../../assets/googlelogo.svg" (click)="googleUserSignin()"></ion-icon>
          <ion-icon class="facebook-icon" src="../../assets/facebooklogo.svg" (click)="facebookUserSignin()"></ion-icon>
          <ion-icon class="apple-icon" name="logo-apple" (click)="appleUserSignin()"></ion-icon>
      </div>      
    </form>
  </div>  
</ion-content>

