.content-wrapper {
  display: flex;
  margin: 10px 0px 0px 0px;
}
.avtar-images {
  width: 60%;
  position: relative;
  margin-bottom: -5px;

  .thumb-img {
    border: 1px solid #E8E8E8;
    --border-radius: 9px;
    height: 52px;
    width: 50px;
    padding: 0px;
    margin: 0px;
  }
  // img {
  //   position: absolute;
  //   bottom: 0;
  //   height: 35px;
  //   width: 35px;
  //   border-radius: 50%;
  //   margin: 5px;
  // }
}
.profile-name{
  font-size: 18px;
  font-weight: 700;
}
.image-wrapper {
  // padding: 5px;
  img {
    position: relative;
    height: 150px;
    width: 65vw;
    border-radius: 20px;
    margin: auto;
    display: block;
    background: url("/assets/images/dummy-background.png") no-repeat center;
  }
}
.message-wrapper {
  padding: 1.525vw 4.125vw 1.525vw;
  p {
    font-size: 14px;
    white-space: pre-line;
    margin: 0 !important;
  }
}

.chat-message-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-bottom: 0;
  margin-bottom: 0px;
}

.chat-message-date {
  display: block;
  font-size: 11px;
  height: 17px;
  width: 100%;
  padding-right: 40px;
  padding-left: 45px;
  margin: 0px;
  padding-top: 1px;
  color: var(--ion-color-themegray-contrast) !important;
}

.chat-wrapper-left {
  padding: 10px 15px;
  .content-wrapper {
    flex-direction: column;
    align-items: flex-start;
    .chat-message-bubble {
      position: relative;
      background: var(--ion-color-silver);
      border-top-right-radius: 20px;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 10px;
      max-width: 70%;
      margin-left: 10px;
      border: 1px solid #707070;
      border-radius: 9px;
      margin-top: 15px;
      text-align: left;

      .message-wrapper {
        p {
          color: var(--ion-color-purewhite) !important;
        }
      }
    }
  }
  .chat-message-date {
    text-align: left;
  }
  .chat-img {
    margin-bottom: 140px;
  }
  .thumb-img {
    margin-right: 10px;
  }
  .profile-name{
    text-align: left;
  }
}

.chat-wrapper-right {
  padding: 10px 15px;
  .content-wrapper {
    flex-direction: column;
    align-items: flex-end;

    .chat-message-bubble {
      position: relative;
      background: var(--ion-color-medium);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 20px;
      max-width: 70%;
      margin-right: 5px;
      padding: 10px;
      border: 1px solid #707070;
      border-radius: 9px;
      margin-top: 15px;
      text-align: left;

      .message-wrapper {
        p {
          color: var(--ion-color-themegray-contrast) !important;
        }
      }
    }
  }

  .chat-message-date {
    text-align: right;
  }
  .chat-img {
    margin-bottom: 140px;
  }
  .thumb-img {
    margin-left: 10px;
  }
  .profile-name{
    text-align: right;
  }
}

@media screen and (min-device-width: 420px) {
  .message-wrapper {
    padding: 6px 17px;
  }
}