<div [ngClass]="{ 'chat-wrapper-right' : chatMessage.fromUserId === fromUserId , 'chat-wrapper-left' : chatMessage.fromUserId != fromUserId}">
  <!-- <div class="chat-message-date">
    <p>{{ this.chatMessage.chatDate }} </p>
  </div> -->
  <div class="content-wrapper">
    <div class="avtar-images">
      <ion-item lines="none" color="primary">
        <ion-thumbnail class="thumb-img" [slot]="chatMessage.fromUserId === fromUserId? 'end' :'start'">
          <img [src]="chatMessage.fromUserId === fromUserId? fromUserImg:toUserImg" />
        </ion-thumbnail>
        <ion-label>
          <h3 class="profile-name">{{ chatMessage.fromUserId === fromUserId? fromUserName:toUserName }} </h3>
        </ion-label>
      </ion-item>
    </div>
    <div class="chat-message-bubble">
      <div class="image-wrapper" *ngIf="chatMessage?.photoUrl">
        <img [src]="chatMessage?.photoUrl" />
      </div>
      <div class="message-wrapper" *ngIf="chatMessage.message">
        <p class="chat-message-font">{{chatMessage.message}}</p>
      </div>
    </div>
  </div>
</div>
