.business-logo{
    max-width: 100px;
    float: right;
}

p {
    margin: 0px;
    font-size: 1em;
    font-weight: 600;
}

.alt-symbol {
    // margin-left: 95px;
    margin-top: 12px;
    font-size: 1em;
    font-size: 0.9em;
    text-align: center;
    font-weight: 700;
    color: var(--ion-color-medium); 
}

.light{
    color: var(--ion-color-medium);
    font-weight: 700; 
}

h2{
    margin-top: 5px;
}

.light {
    margin: 0px;
}

.line{
    padding-top:7px;
    // border-bottom: 1px solid #999999;
}

.space{
    margin-top: 30px;
}

.input {
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    // border-bottom: 1px solid var(--ion-color-primary);
}

.input2 {
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    // border-bottom: 1px solid var(--ion-color-primary);
}

.change {
    font-size: 1.4em;
    font-weight: 700;
    margin-left: 0;
}

.symbol {
    position: absolute;
    left: 0;
    //top: 80px;
    right: 0;
    font-size: 1.4em;
    font-weight: 700;
}

.center{
    margin-top: 10px;
    font-size: 1.4em;
    text-align: center;
}

ion-text{
    margin: auto;
}

ion-button{
    display: block;
    margin: auto;
    max-width: 70%;
}

ion-input {
    display: block;
    margin: auto;
    --placeholder-color: black;
    --background: #dfdfdf;
    max-width: 80%;
    //margin-left: 20px;
    border-radius: 5px;
}