<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div class="title-wrapper">
      <h3 class="title-text">Upload your logo and choose your brand color.</h3>
    </div>
    <div class="upload-wrapper">
      <div class="uploader">
        <form id="file-upload-form" class="uploader">
          <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
        
          <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden">
            <div id="start">
              <i class="fa fa-download" aria-hidden="true"></i>
              <div id="notimage" class="hidden">Please select an image</div>
              <span id="file-upload-btn" class="btn btn-primary">
                <ion-icon class="plus-icon" color="medium" name="add"></ion-icon>
              </span>
            </div>
          </label>
        </form>
      </div>
      <div class="color-picker">
        <color-sketch [color]="selectedColor" [width]="pickerWidth" height="205"
        (onChangeComplete)="handleChangeComplete($event)"></color-sketch>
      </div>
    </div>
    <div class="btn-wrapper next-btn-wrapper">
      <p class="makenew-title" (click)="next(false)">I don't have logo or brand color</p>
      <ion-button class="btn-main btn-next" shape="round" 
      color="medium" fill="outline" (click)="next(true)">
        Next
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
      <ion-button class="btn-main btn-next" shape="round" 
      color="medium" fill="outline" (click)="back()">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </div>
  </div>
</ion-content>
