.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 100%;
    max-width: 600px;
}
ion-list {
    background: var(--ion-color-medium);
}
.list-badge {
    font-size: 20px;
}
ion-radio-group{
    width: calc(100% - 16px);
    margin: 0 auto;
    h5{
        margin: 5px 0px;
        color: var(--ion-color-primary);
        font-size: 16px;
        color: #ffffff;
        line-height: 30px;
    }
    ion-row{
        ion-col{
            display: flex;
            align-items: center;
            padding-left: 0px;
        }
        ion-label{
            font-size: 14px;
            margin-left: 10px;
            color: #ffffff;
            line-height: 20px;
        }
    }
    ion-radio{
        --color:var(--ion-color-light);
        --color-checked:var(--ion-color-light);
    }
}
@media screen and (max-width: 450px) { 
    .card-title {
        font-size: 18px;
    }
    .detail-item-forward-btn {
        font-size: 10px;
    }
    .detail-item-text {
        font-size: 12px !important;
    }
    ion-radio-group{
        ion-label{
            font-size: 12px !important;
            margin-left: 5px !important;
        }
    }
}