<ion-header class="ion-no-border">
  <ion-toolbar class="profile-toolbar" color="medium">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/grid"></ion-back-button>
    </ion-buttons>
    <ion-title class="">Text Orders</ion-title>
    <ion-buttons slot="end">
      <div class="profile-info">
        <div class="profile-text">
          <h3>Maria C.</h3>
          <p>HUBS AGENT #4567</p>
        </div>
        <ion-thumbnail class="thumb-image">
          <img src="../../assets/Picture6@2x.png" />
        </ion-thumbnail>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" class="ion-padding">
<div class="wrapper">
  <div class="content">
    <h3 class="card-title card-title2">Enter Item</h3>
    <ion-searchbar class="primary-serach-input" color="primary" mode="md" placeholder="Search Saved Items"></ion-searchbar>
    <ion-item color="medium" class="primary-card-item pinput-item" lines="none">
      <ion-label position="stacked">Menu Item </ion-label>
      <ion-input placeholder="Enter Name"></ion-input>
      <ion-note slot="end" class="pcard-item-notes">
        <ion-icon name="remove-circle-outline" class="pcard-item-icon"></ion-icon>
        <span>2</span>
        <ion-icon name="add-circle-outline" class="pcard-item-icon"></ion-icon>
      </ion-note>
    </ion-item>
    <h3 class="card-title">Customer order</h3>
    <ion-card color="primary" class="primary-card">
      <ion-item color="primary" class="primary-card-item" lines="none">
        <ion-label class="pcard-item-label">
          <h3>Beef Taco</h3>
          <p>$2.00</p>
        </ion-label>
        <ion-note slot="end" class="pcard-item-notes">
          <ion-icon name="remove-circle-outline" class="pcard-item-icon"></ion-icon>
          <span>2</span>
          <ion-icon color="medium" name="add-circle-outline" class="pcard-item-icon"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item color="primary" class="primary-card-item" lines="none">
        <ion-label class="pcard-item-label">
          <h3>Chicken Taco</h3>
          <p>$2.00</p>
        </ion-label>
        <ion-note slot="end" class="pcard-item-notes">
          <ion-icon name="remove-circle-outline" class="pcard-item-icon"></ion-icon>
          <span>1</span>
          <ion-icon color="medium" name="add-circle-outline" class="pcard-item-icon"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item color="primary" class="primary-card-item" lines="none">
        <ion-label class="pcard-item-label">
          <h3>Jarritos</h3>
          <p>$2.00</p>
        </ion-label>
        <ion-note slot="end" class="pcard-item-notes">
          <ion-icon name="remove-circle-outline" class="pcard-item-icon"></ion-icon>
          <span>2</span>
          <ion-icon color="medium" name="add-circle-outline" class="pcard-item-icon"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item color="primary" class="primary-card-item-total" lines="none">
        <ion-label>
          <h3>Total</h3>
        </ion-label>
        <ion-note slot="end">
          <span>$10.00</span>
        </ion-note>
      </ion-item>
    </ion-card>
    <div class="pcard-btn-wrapper">
      <ion-button color="silver" class="share-btn" (click)="sendLink()" >
        Send Payment link
      </ion-button>
    </div>
  </div>
</div>
</ion-content>
