<ion-header class="ion-no-border">
  <ion-toolbar class="profile-toolbar" color="medium">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/grid"></ion-back-button>
    </ion-buttons>
    <ion-title class="">Payable bills</ion-title>
    <ion-buttons slot="end">
      <div class="profile-info">
        <div class="profile-text">
          <h3>Maria C.</h3>
          <p>HUBS AGENT #4567</p>
        </div>
        <ion-thumbnail class="thumb-image">
          <img src="../../assets/Picture6@2x.png" />
        </ion-thumbnail>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="medium" class="ion-padding">
  <div class="review-content">
    <div class="user-profile">
      <ion-thumbnail class="user-image">
        <img src="../../assets/gallery/les-anderson-ixb3sh0thWI-unsplash@2x.png" />
      </ion-thumbnail>
      <h3 class="profile-name">Shawna C.</h3>
      <span class="profile-date">Mexico City, MX</span>
    </div>
    <div class="summary-data-wrapper">
      <h3 class="transaction-card-title" >Payable bills</h3>
      <ion-card color="primary" class="transaction-card">
        <div class="summary-wrapper">
          <div class="transation-img">
            <ion-thumbnail class="summary-data-img">
              <img src="../../assets/stripe.png" />
            </ion-thumbnail>
          </div>
          <div class="transation-summary">
            <ion-row class="summary-data">
              <ion-col size="12" class="summary-name"> AT&T Mexico </ion-col>
            </ion-row>
            <ion-row class="summary-data">
              <ion-col size="12"> $300.00 </ion-col>
            </ion-row>
          </div>
          <div class="summary-btn">
            <ion-button color="silver" class="detail-item-forward-btn" (click)="gotoPaymentDetails()">
              <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>      
      </ion-card>
      
      <ion-card color="primary" class="transaction-card">
        <div class="summary-wrapper">
          <div class="transation-img">
            <ion-thumbnail class="summary-data-img">
              <img src="../../assets/DigiByte.jpg" />
            </ion-thumbnail>
          </div>
          <div class="transation-summary">
            <ion-row class="summary-data">
              <ion-col size="12" class="summary-name"> Rancho Apartamentos </ion-col>
            </ion-row>
            <ion-row class="summary-data">
              <ion-col size="12"> $1,200.00 </ion-col>
            </ion-row>
          </div>
          <div class="summary-btn">
            <ion-button color="silver" class="detail-item-forward-btn" (click)="gotoPaymentDetails()">
              <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>      
      </ion-card>
    </div>
  </div>
</ion-content>
