<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-title translate>success.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="this.success" color="medium" class="ion-padding">
    <img class="logo" src='../../assets/humbl-white.png'>
    <ion-avatar>
      <img src='assets/stripe.png'>
    </ion-avatar>
    <h1 class="it" translate>success.success</h1>
    <p translate>success.success_note</p> 
    <div padding>
      <ion-button expand="block" fill="outline" shape="round" (click)="close()" color="light">Close Page</ion-button>
    </div>
  </ion-card>
  <ion-card *ngIf="this.success == false" color="medium" class="ion-padding">
    <img class="logo" src='../../assets/humbl-white.png'>
    <ion-avatar>
      <img src='assets/stripe.png'>
    </ion-avatar>
    <h1 class="it" translate>success.fail</h1>
    <p translate>success.fail_note</p> 
    <div class="ion-padding">
      <ion-button expand="block" fill="outline" shape="round" (click)="close()" color="light" translate>success.close</ion-button>
    </div>
  </ion-card>
</ion-content>
