ion-card {
    display: block;
    max-width: 500px;
    margin: auto;
}

.logo {
    display: block;
    width: 150px;
    margin: auto;
    padding: 10px;
}

h1 {
    font-size: 2em;
    color: var(--ion-color-tertiary);
    text-align: center;
}

ion-avatar {
    margin: auto;
}

p {
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

.it{
    text-align: center;
    color: #ffffff;
}