.item-total{
    text-align: right;
    color: var(--ion-color-medium);
    font-weight: bold;
    font-size: 1.8em;
    margin-top: 0px;
}

ion-icon {
    padding-top: 4px;
    padding-bottom: 4px;
}

.item-desc {
    color: var(--ion-color-medium);
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 12px;
}

.item-desc-desc {
    font-size: 1.2em;
    text-transform: capitalize;
    color: #333333;
}
ion-button {
    text-transform: inherit;
    font-size: 1.2em;
}

.current-coin {
    text-align: right;
    text-transform: capitalize;
    margin: 0px;
    color: #333333;
}

.total {
     --box-shadow:none;
}
