<ion-header class="ion-no-border">
  <ion-toolbar class="profile-toolbar" color="medium">
    <ion-buttons slot="start">
      <!-- <ion-back-button  defaultHref="/grid"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>terminal.title</ion-title>
    <ion-buttons slot="end">
      <div class="profile-info">
        <div class="profile-text">
          <h3>{{this.userProfile?.businessName}}</h3>
          <!-- <p>HUBS AGENT #4567</p> -->
        </div>
        <ion-thumbnail class="thumb-image">
          <img *ngIf="this.userProfile?.logoUrl" [src]="this.userProfile?.logoUrl" />
          <img *ngIf="!this.userProfile?.logoUrl" src="../../assets/avatar.png" />
        </ion-thumbnail>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" class="ion-padding">  
  <!-- <ion-list> -->
    <!-- <ion-item color="primary" *ngFor="let item of items">
      <div slot="end">
        <ion-item lines="none">
          <ion-button size="small" color="medium" (click)="saveItem(item)"><ion-icon name="add"></ion-icon></ion-button>
          <ion-button size="small" color="medium" fill="outline" (click)="deleteItem(item)"><ion-icon name="remove"></ion-icon></ion-button>
        </ion-item>
      </div>
      <ion-text>
        <h3 class="item-desc" *ngIf="this.currency === 'USD'">{{ item.price | currency: 0}}</h3>
        <h3 class="item-desc" *ngIf="this.currency != 'USD'">{{ item.price | number: '1.2-2'}}</h3>
      </ion-text>
      <ion-label class="item-desc-desc" text-wrap>{{ item.description }}</ion-label>
    </ion-item> -->
  <!-- </ion-list> -->
  <div class="wrapper">
    <ion-card color="primary" class="primary-card" *ngIf="items && items.length>0">
      <ion-item color="primary" class="primary-card-item" lines="none" *ngFor="let item of items">
        <ion-label class="pcard-item-label">
          <h3>{{ item.description }}</h3>
          <p *ngIf="this.currency === 'USD'">{{ item.price | currency: 0}}</p>
          <p *ngIf="this.currency != 'USD'">{{ item.price | number: '1.2-2'}}</p>
        </ion-label>
        <ion-note slot="end" class="pcard-item-notes">
          <ion-icon name="remove-circle-outline" class="pcard-item-icon" (click)="deleteItem(item)"></ion-icon>
          <span>1</span>
          <ion-icon color="medium" name="add-circle-outline" (click)="saveItem(item)" class="pcard-item-icon"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item color="primary" class="primary-card-item-total" lines="none">
        <ion-label>
          <h3 translate>pos.total</h3>
        </ion-label>
        <ion-note slot="end">
          <span *ngIf="this.currency === 'USD'" translate>{{ this.sum | currency: 0 }}</span>
          <span *ngIf="this.currency != 'USD'" translate><span>{{ this.currency }}</span> {{ this.sum | number: '1.2-2' }}</span>
        </ion-note>
      </ion-item>
    </ion-card>
  </div>
</ion-content>  
<ion-footer class="ion-no-border">
  <ion-toolbar color="medium">
    <!-- <div class="ion-padding"> -->
      <!-- <h2 class="item-total" *ngIf="this.currency === 'USD'" translate>pos.total <span>{{ this.sum | currency: 0 }}</span></h2>
      <h2 class="item-total" *ngIf="this.currency != 'USD'" translate>pos.total <span>{{ this.currency }}</span> {{ this.sum | number: '1.2-2' }}</h2>
      <p *ngIf="this.coin" class="current-coin" translate>pos.method {{this.coin}}</p> -->
      <ion-grid class="footer-grid">
        <ion-row>
          <ion-col>
            <ion-button id="add" class="footer-btn" color="primary" shape="round" expand="block" 
            (click)="addItem()" translate>items.add_btn</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" expand="block" class="footer-btn" shape="round" [disabled]="this.sum <= 0" 
            class="total" (click)="this.selectCoin()" translate>pos.total</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    <!-- </div> -->
  </ion-toolbar>
</ion-footer>
