.splash-logo {
  padding-top: 100px;
  display: block;
  margin: auto;
  width: 60%;
  max-width: 200px;
}

.languagepart{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 80px;
  color: white;
}

select{
  background-color: black;
}

.buttons {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 30px;
}

.btn {
  padding-top: 20px;
}

.bigD {
  display: block;
  padding: 20px;
  margin: auto;
  width: 33%;
  max-width: 100px;
}

.splash-intro {
  color: #002352;
  text-align: center;
  max-width: 85%;
  margin: auto;
}

p {
  font-size: 24px;
}

#settings {
  max-width: 85%;
  margin: auto;
}

ion-button {
  text-transform: inherit;
  font-size: 1.2em;
}

ion-content {
  --background: var(--ion-color-medium);
}

.sign-in{
  --box-shadow:none;
}

// ion-content {
//   --background: var(--ion-color-medium);
// }

// ion-card-header{
//   text-align: center;
// }

// ion-button{
//   display: block;
//   margin: auto;
//   margin-top: 15px;
//   margin-bottom: 15px;
// }

// .welcome-card {
//   min-height: 200px;
// }

// .footer{
//   margin-left: 20px;
//   font-size: small;
//   color: lightslategrey;
// }

// .deposits{
//   text-align: center;
//   margin:auto;
//   color: var(--ion-color-medium);
//   padding-top: 20px;
//   margin-bottom: 45px;
//   // position: absolute;
//   // top: 40px;
//   // right: 0;
//   // left: 0;
//   // margin: auto;
//   font-size: 2em;
//   font-weight: bold;
// }

// .alternate{
//   text-align: center;
//   margin-bottom:10px;
//   padding-top: 5%;
//   font-size: 1em;
//   font-weight: 500;
//   color: #666666;
// }

// // ion-card-content p{
// //   margin-top: 10px;
// // }

// ion-card-content{
//   // max-width: 200px;
//   // position: absolute;
//   // top: 90px;
//   // right: 0;
//   // left: 0;
//   margin: auto;
// }

// ion-col{
//   --ion-grid-column-padding: 0px;
// }

// .stars{
//   text-align: center;
//   margin:auto;
//   // position: absolute;
//   // top: 46px;
//   // right: 0;
//   // left: 0;
//   // margin: auto;
//   font-size: 2em;
//   font-weight: bold;
// }

// ion-list{
//   margin: 0px;
//   padding: 0px;
// }