<ion-content fullscreen>
  <img class="splash-logo" src='../../assets/humbl-white.png'>
  <div class="slogan">
    <p></p>
  </div>
  <div class="buttons">
    <div>
      <ion-button class="sign-in" id="settings" shape="round" color="light" (click)="toSignupPage()" expand="block">
        Sign Up
      </ion-button>
    </div>
    <div class="btn"> 
      <ion-button id="settings" color="light" shape="round" fill="outline" (click)="toLoginPage()" expand="block">
        Log In
      </ion-button>
    </div>
  </div>  
</ion-content>
<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Merchant Portal
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <ion-row>
    <ion-col size="12" size-sm>
      <ion-card class="welcome-card" color="light">
        <ion-card-header color="light"> -->
          <!-- <ion-card-title>Bill Pay</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="alternate">
            Manage Business Overhead
          </p>
          <div class="stars">
            <ion-icon color="medium" name="mail-open"></ion-icon>
          </div>
          <ion-button [routerLink]="'/bill-pay'" color="medium">
            Pay Bills
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm>
      <ion-card class="welcome-card" color="light"> -->
        <!-- <ion-card-header color="light">
          <ion-card-title>Average Spend</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="alternate">
            Average Spent per Visit
          </p>
          <p class="deposits">
            $23.45
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm>
      <ion-card class="welcome-card" color="light">
        <ion-card-header color="light"> -->
          <!-- <ion-card-title>Customers</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="alternate">
            Last 30 days.
          </p>
          <p class="deposits">
            132
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm>
      <ion-card class="welcome-card" color="light">
        <ion-card-header color="light"> -->
          <!-- <ion-card-title>Ratings & Reviews</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="alternate">
            Manage Reviews & Feedback
          </p>
          <div class="stars">
            <ion-icon color="medium" name="star"></ion-icon>
            <ion-icon color="medium" name="star"></ion-icon>
            <ion-icon color="medium" name="star"></ion-icon>
            <ion-icon color="medium" name="star"></ion-icon>
            <ion-icon color="medium" name="star"></ion-icon>
          </div>
          <ion-button [routerLink]="'/reviews'" color="medium">
            Feedback
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm>
      <ion-card class="welcome-card" color="light">
        <ion-card-header color="light"> -->
          <!-- <ion-card-title>Transactions</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="alternate">
            Customer Refunds & Receipts
          </p>
          <div class="stars">
            <ion-icon color="medium" name="arrow-back"></ion-icon>
          </div>
          <ion-button [routerLink]="'/reports'" color="medium">
            Manage
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm>
      <ion-card class="welcome-card" color="light">
        <ion-card-header color="light"> -->
          <!-- <ion-card-title>Employee Payouts</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="alternate">
            Manage employee tips & payroll.
          </p>
          <div class="stars">
            <ion-icon color="medium" name="cash"></ion-icon>
          </div>
          <ion-button [routerLink]="'/payroll'" color="medium">
            Payroll
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-list lines="none">
    <ion-list-header color="medium">
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="http://api.humbl.io" detail>
      <ion-icon slot="start" color="medium" name="help-buoy"></ion-icon>
      <ion-label>HUMBL API</ion-label>
    </ion-item>
    <ion-item href="https://humbl-1.gitbook.io/humbl-agent-manual/" color="medium" detail>
      <ion-icon slot="start" color="light" name="document"></ion-icon>
      <ion-label>Agent Manual</ion-label>
    </ion-item>
    <ion-item href="https://humbl.io" color="medium" detail>
      <ion-icon slot="start" color="light" name="document"></ion-icon>
      <ion-label>Network Administration</ion-label>
    </ion-item>
    <ion-item href="https://humbl.io" color="medium" detail>
      <ion-icon slot="start" color="light" name="help-buoy"></ion-icon>
      <ion-label>System Support</ion-label>
    </ion-item>
    <ion-item href="https://humbl.io" color="medium" detail>
      <ion-icon slot="start" color="light" name="pulse"></ion-icon>
      <ion-label>Technical Support</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->
<!-- <ion-footer>
  <ion-toolbar>
    <p class="footer">Copyright 2020 | HUMBL, LLC</p>
  </ion-toolbar>
</ion-footer> -->

