.logo{
  display: block;
  max-width: 600px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.content-data{
  position: absolute;
  bottom: calc(env(safe-area-inset-bottom) + 50px);
  left: 0px;
  right: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.languagepart{
  width: 100%;
  text-align: center;
  margin-top: 80px;
  color: white;
  label {
      margin-right: 10px;
  }
}

span{
  font-weight: 400;
}

p{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 30px;
}

ion-button{
  width: 350px;
  height: 66px;
  font-size: 24px;
  text-transform: uppercase;
}

.lang-wrapper{
  font-size: 30px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lan-active {
  font-weight: 500;
}
.lan-inactive {
  font-weight: 300;
}

@media screen and (max-width: 420px) {
  .logo {
    width: 80%;
    max-width: 200px;
  }
  .lang-wrapper {
    font-size: 18px;
  }
  ion-button {
    width: 150px;
    height: 41px;
    font-size: 16px;
  }
  p{
    font-size: inherit;
  }
}