<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title translate>
      settings.title
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pos"></ion-back-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="medium" [routerLink]="['/account']" routerDirection="forward" detail="true">  
      <ion-label>
        <p class="input" translate>settings.account</p>
        <ion-text translate>settings.change</ion-text>
        <!-- <ion-text *ngIf="this.username === null || this.username === ''">Your unique username.</ion-text> -->
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.stripeId" color="medium" detail="true"> 
      <ion-label>
        <p class="input" translate>settings.username</p>
        <ion-text>{{ this.username }}</ion-text>
        <ion-text *ngIf="this.username === null || this.username === ''" translate>settings.unique.</ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.stripeId" color="medium" (click)="saveBusiness()"> 
      <ion-label>
        <p class="input" translate>settings.name</p>
        <ion-text class="inputName">{{ this.business }}</ion-text>
        <ion-text *ngIf="!this.business" translate>settings.name_label</ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.stripeId" color="medium" (click)="saveEmail()"> 
      <ion-label>
        <p class="input" translate>settings.email</p>
        <ion-text>{{ this.businessEmail }}</ion-text>
        <ion-text *ngIf="!this.businessEmail" translate>settings.email_label</ion-text>
      </ion-label>
    </ion-item>
    <div *ngIf="this.stripeId" class="bg">
      <ion-label>
        <p class="input3" translate>settings.business</p>
      </ion-label>
      <ion-textarea
      type="text"
      rows="2" 
      placeholder="{{'settings.business_placeholder' | translate}}" 
      (ionChange)="saveBusinessAddress()" 
      debounce="700" 
      [(ngModel)]="this.businessAddress">
      </ion-textarea>
      <ion-text class="input3" color="light" translate>settings.lat: {{this.coordinates.lat}}</ion-text>
      <div class="input3">
        <ion-text color="light" translate>settings.lon: {{this.coordinates.lng}}</ion-text>
      </div>
    </div>
    <ion-item color="medium" (click)="stripe()" *ngIf="!this.stripeId" detail="true">
      <ion-avatar>
        <img src="../../assets/stripe.png">
      </ion-avatar>
      <ion-label>
        <ion-text class="address" translate>settings.accept_card</ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.stripeId" color="medium" detail="true">
      <ion-avatar>
        <img src="../../assets/stripe.png">
      </ion-avatar>
      <ion-label>
          <ion-text class="address" translate>settings.connected</ion-text>
      </ion-label>
      <ion-button class="stp-btn" size="small" fill="outline" color="medium" (click)="disconnectStripe()" translate>settings.disconnect</ion-button>
    </ion-item>  
    <ion-item *ngIf="this.stripeId" color="medium" class="trns">
      <ion-label translate>settings.currency</ion-label>
      <ion-select color="medium" multiple="false" [(ngModel)]="this.currency" (ionChange)="saveCurrency()">
        <ion-select-option>USD</ion-select-option> 
        <ion-select-option>AUD</ion-select-option>
        <ion-select-option>BGN</ion-select-option>
        <ion-select-option>BRL</ion-select-option>
        <ion-select-option>CAD</ion-select-option>
        <ion-select-option>CHF</ion-select-option>
        <ion-select-option>CZK</ion-select-option>
        <ion-select-option>DKK</ion-select-option>
        <ion-select-option>EUR</ion-select-option>
        <ion-select-option>GBP</ion-select-option>
        <ion-select-option>HKD</ion-select-option>
        <ion-select-option>HRK</ion-select-option>
        <ion-select-option>IDR</ion-select-option>
        <ion-select-option>ILS</ion-select-option>
        <ion-select-option>ISK</ion-select-option>
        <ion-select-option>JPY</ion-select-option>
        <ion-select-option>KRW</ion-select-option>
        <ion-select-option>MXN</ion-select-option>
        <ion-select-option>MYR</ion-select-option>
        <ion-select-option>NOK</ion-select-option>
        <ion-select-option>NZD</ion-select-option>
        <ion-select-option>PHP</ion-select-option>
        <ion-select-option>PLN</ion-select-option>
        <ion-select-option>RON</ion-select-option>
        <ion-select-option>RUB</ion-select-option>
        <ion-select-option>SEK</ion-select-option>
        <ion-select-option>SGD</ion-select-option>
        <ion-select-option>THB</ion-select-option>
        <ion-select-option>TRY</ion-select-option>
        <ion-select-option>ZAR</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="this.stripeId" color="medium">
      <ion-label class="input" translate>settings.tax</ion-label>
      <ion-toggle color="light" (ionChange)="editOptionalTax()" [(ngModel)]="optionalTax" checked="true"></ion-toggle>
    </ion-item>
    <ion-item class="input" color="medium" *ngIf="optionalTax === true && this.stripeId">
      <ion-label class="input" translate>settings.local_tax</ion-label>
      <ion-input class="input" debounce="1500" [(ngModel)]="taxRate" (ionChange)="editTaxRate()" placeholder="{{'settings.enter_decimal' | translate}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.stripeId" color="medium">
      <ion-label *ngIf="!this.imageURL" translate>settings.upload</ion-label>
      <div *ngIf="this.imageURL != ''" slot="start">
        <img class="logo" src="{{this.imageURL}}">
      </div>
      <input class="input2" type="file" (change)="upload($event)" accept=".png,.jpg,.jpeg" #file>
      <div slot="end">
        <ion-button size="small" color="light" shape="round" (click)="file.click()" translate>settings.upload</ion-button>
        <ion-button size="small" fill="outline" shape="round" color="light" (click)="removeImages()" translate>settings.reset</ion-button>
      </div>
      <!-- <ion-button padding size="small" color="medium" (click)="file.click()">Upload Images</ion-button>
      <ion-button padding size="small" fill="outline" color="light" (click)="resetImages()">Reset Images</ion-button> -->
      <ion-progress-bar *ngIf="uploadPercent" color="warning" [value]="uploadPercent | async"></ion-progress-bar>
    </ion-item>
  </ion-list>
  <div class="faux-footer ion-padding">
    <ion-button class="start-btn" shape="round" color="light" id="transact" expand="block" [disabled]="!this.username || !this.stripeId" (click)="toQR()" translate>settings.qr</ion-button>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="light" id="transact" expand="block" [disabled]="!this.businessEmail && !this.stripeId" (click)="toListMasterPage()" translate>settings.transact</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" fill="outline" shape="round" (click)="goToHelp()" color="light" translate>settings.help</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="medium" class="ion-padding">
  </ion-toolbar>
</ion-footer>