<ion-content class="ion-padding">
  <div class="form-wrapper">
    <ion-card class="card ion-padding ion-text-center" color="medium" *ngIf="!isVerified && !isError && !isLoading">
      <form [formGroup]="frmSetNewPassword" (ngSubmit)="setPassword()">
        <h3>
          Set a new password
        </h3>
        <ion-item color="medium">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item color="medium">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item> 
        <ion-button type="submit" class="ion-padding ion-margin-top" color="light" shape="round" 
        expand="block" [disabled]="!frmSetNewPassword.valid">Reset</ion-button>        
      </form>
    </ion-card>
    <ion-card class="loader-card" color="medium" *ngIf="!isVerified && !isError && isLoading">
      <ion-spinner class="loader" name="crescent"></ion-spinner>
      <ion-text>
        {{loadingMessage}}
      </ion-text>
    </ion-card>
    <ion-card class="msg-card" color="success" *ngIf="isVerified && !isError && !isLoading">
      <ion-icon class="success-icon" name="checkmark-circle-outline"></ion-icon>
      <ion-text class="success-text">
        Password reset successfully please click continue to login again.
      </ion-text>
      <ion-button color="primary" (click)="this.router.navigateByUrl('/login');" >Continue To Login</ion-button>
    </ion-card>
    <ion-card class="msg-card" color="danger"  *ngIf="!isVerified && isError && !isLoading">
      <ion-icon class="success-icon" name="close-circle-outline"></ion-icon>
      <ion-text class="success-text">
        {{errorMessage}}
      </ion-text>
    </ion-card>   
  </div>
</ion-content>