.form-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 500px;
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}

.loader-card{
    max-width: 500px;
    width: 90%;
    margin: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader{
    margin-right: 20px;
    color: #ffffff;
}
.msg-card{
    max-width: 500px;
    width: 90%;
    margin: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
}
ion-spinner {
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}
ion-text {
    font-size: 18px;
}
.success-text{
    padding: 20px 0px;
}
.success-icon{
    font-size: 100px;
}