// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3B5B7B;
  --ion-color-primary-rgb: 59,91,123;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #34506c;
  --ion-color-primary-tint: #4f6b88;

  /** secondary **/
  --ion-color-secondary: #3a4558;
  --ion-color-secondary-rgb: 58,69,88;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #333d4d;
  --ion-color-secondary-tint: #4e5869;

  /** tertiary **/
  --ion-color-tertiary: #7e7e7e;
  --ion-color-tertiary-rgb: 167,181,201;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #939fb1;
  --ion-color-tertiary-tint: #b0bcce;


  /** success **/
  --ion-color-success: #6fc387;
  --ion-color-success-rgb: 111,195,135;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #62ac77;
  --ion-color-success-tint: #7dc993;

  /** warning **/
  --ion-color-warning: #fde400;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #b00707;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #22ade4;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: rgb(28, 141, 185);
  --ion-color-medium-tint: rgb(28, 141, 185);

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #333333;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #ffffff;
  --ion-color-light-tint: #ffffff;

  --ion-color-darkblue: #00A3DD;
  --ion-color-darkblue-rgb: 0,163,221;
  --ion-color-darkblue-contrast: #ffffff;
  --ion-color-darkblue-contrast-rgb: 255,255,255;
  --ion-color-darkblue-shade: #008fc2;
  --ion-color-darkblue-tint: #1aace0;
  
  .ion-color-darkblue {
    --ion-color-base: var(--ion-color-darkblue);
    --ion-color-base-rgb: var(--ion-color-darkblue-rgb);
    --ion-color-contrast: var(--ion-color-darkblue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkblue-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkblue-shade);
    --ion-color-tint: var(--ion-color-darkblue-tint);
  }
  
  --ion-color-silver: #8E949F;
  --ion-color-silver-rgb: 142,148,159;
  --ion-color-silver-contrast: #ffffff;
  --ion-color-silver-contrast-rgb: 255,255,255;
  --ion-color-silver-shade: #7d828c;
  --ion-color-silver-tint: #999fa9;
  
  .ion-color-silver {
    --ion-color-base: var(--ion-color-silver);
    --ion-color-base-rgb: var(--ion-color-silver-rgb);
    --ion-color-contrast: var(--ion-color-silver-contrast);
    --ion-color-contrast-rgb: var(--ion-color-silver-contrast-rgb);
    --ion-color-shade: var(--ion-color-silver-shade);
    --ion-color-tint: var(--ion-color-silver-tint);
  }
  
}


// :root {
//   /* width */
//   ::-webkit-scrollbar {
//     width: 5px !important;
//   }

//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: inherit !important;
//   }
  
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #000 !important;
//   }

//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }
// }