<ion-header class="ion-no-border">
  <ion-toolbar class="profile-toolbar" color="medium">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/grid"></ion-back-button>
    </ion-buttons>
    <ion-title class="">Loan Products</ion-title>
    <ion-buttons slot="end">
      <div class="profile-info">
        <div class="profile-text">
          <h3>Maria C.</h3>
          <p>HUBS AGENT #4567</p>
        </div>
        <ion-thumbnail class="thumb-image">
          <img src="../../assets/Picture6@2x.png" />
        </ion-thumbnail>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="medium" class="ion-padding">
  <ion-grid>
  <ion-row>
    <ion-col>
      <h3 class="about-title">Important Information About Procedures For Cash Pickup</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item class="page-form-item" color="primary" lines="none">
        <ion-textarea  placeholder="$0.00" readonly="true" autoGrow="true"
        value="To help the government fight the funding of terrorism and money laundering activities, Federal law requires all financial institutions to obtain, verify, and record information that identifies each person who opens an account. What this means for you: When you pick up cash, we will ask for your name, address, date of birth, and other information that will allow us to identify you. We may also ask to see your driver’s license or other identifying documents.">
      </ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item class="chk-item" color="medium" lines="none">
        <ion-checkbox mode="md" slot="start"></ion-checkbox>
        I Agree
      </ion-item>
      <ion-button color="silver" class="reply-btn">Go to application</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
