ion-textarea{
  font-size: 12px;
  resize: both;
}
.main-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;

}
.content-wrapper{
  width: 100%;    
  max-width: 75%;
  display: flex;
  background: var(--ion-color-primary);
  border-radius: 18px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 5px;
  height: 90%;
  margin-left: 16px;
}
.user-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;    
  padding: 30px 10px 0px 20px;
}
.user-image {
  width: 120px;
  height: 122px;
  --border-radius: 18px;
}
.profile-name{
  font-size: 1.3em;
  font-weight: 700;
}
.profile-date {
  font-size: 0.9em;
  font-weight: 400;
}
.logo {
  width: 100px;
}
.messages {
  width: 100%;
  height: 100%;  
  padding: 16px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.messages > * {
  transform: translateZ(0px);
}
ion-avatar {
  width: 32px;
  height: 32px;
}
.thumb-img {
  border: 1px solid #E8E8E8;
  --border-radius: 9px;
  height: 52px;
  width: 50px;
  padding: 0px;
  margin: 0px;
}
.user-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-start: 0px;
}
.userbox{
  width: 70%;
  display: flex;
  background: none !important;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

.userbox.left{
  justify-content: flex-start;
  .thumb-img {
    margin-left: 10px;
  }
}

.userbox.right{
  .thumb-img {
    margin-left: 10px;
  }
}
// .userbox.right h3{
//   margin-right: 10px;
//   // color: var(--ion-color-medium);
// }

.userbox.left h3{
// color: #444;
  margin-left: 10px;
}

.emojiButton ion-icon{
  color: #e6d70b;
}

.chatbox{
  // padding:3px;
  // border-radius: 5px;
  // max-width: 70%;
  // min-width: 70%;
  // margin: 5px;
  // background: var(--ion-color-silver);
  width: 100%;
  margin-top: 15px;
  .chatbox-content {
    border: 1px solid #707070;
    // padding: 6px 17px;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    max-width: 70%;
    margin-left: 10px;
    border-radius: 9px;
  }
}

.chatbox p {
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
// .chatbox.left p {
//   color: #444;
// }
.chatbox span{
  font-size: 12px;
}
.right{
  border-radius: 5px;
  float: right;
  text-align: left;
  padding-right: 5px;
  .chatbox-content {
    background: var(--ion-color-medium);
    float: right;
  }
}
.left{
  border-radius: 5px;
  // color:#444;
  float: left;
  text-align: left;
  padding-left: 5px;
  .chatbox-content {
    background: var(--ion-color-silver);
    float: left;
  }
}
video{
  background: #eee;
  border-radius: 5px;
}

ion-footer{
  // margin-top: 20px;
  ion-toolbar{
    padding: 10px 5px;
    ion-item{
      border-radius: 30px;
      --border-radius: 30px;
    }
  }
}
.order-icon-wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.order-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--ion-color-silver);
  padding: 5px;
  border-radius: 12px;
  width: 140px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  .key-icon {
    font-size: 40px;
  }
}

.text-wrapper {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 650px) { 
  .user-profile {
      display: none;
  }
  .order-icon-wrapper {
    display: none;
  }
  .content-wrapper{
    border-radius: 0px;
    max-width: 100%;
    height: 100%;
    margin-left: 0px;
  }
  .footer-wrapper {
    border-radius: unset;
  }
  .profile-name{
    font-size: 1em;
  }
}