<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-title translate>messages.title</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/merchant/pos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="messagesData">
  <ion-refresher slot="fixed" (ionRefresh)="getMessages($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="received_messages || sent_messages">
    <ion-item-sliding *ngFor="let message of received_messages" color="white">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="delete_message(message)"  translate>items.delete</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-row class="ion-align-items-center fullwidth">
          <ion-icon name="return-down-forward-outline" size="large" color="medium"></ion-icon>
          <ion-grid>
            <h2>{{ message.sender_name }}</h2>
            <ion-text>{{ message.message }}</ion-text>
          </ion-grid>
          <ion-button size="small" color="medium" shape="round" (click)="reply_message(message)" translate>messages.reply</ion-button>
        </ion-row>  
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding *ngFor="let sent_message of sent_messages" color="white">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="delete_message(sent_message)"  translate>items.delete</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-row class="ion-align-items-center fullwidth">
          <ion-icon name="return-down-back-outline" size="large" color="medium"></ion-icon>
          <ion-grid>
            <h2>{{ this.businessName }}</h2>
            <ion-text>{{ sent_message.message }}</ion-text>
          </ion-grid>
        </ion-row>  
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
</ion-footer>
