.card {
    margin: auto;
    box-shadow: none !important;
    border-radius: 0px;
}

.qr {
    display: block;
    margin: 10px;
}

.logo {
    margin-top: 10px;
    // width: 22%;
    width: 100%;
}

.logo2 {
    height: auto;
    margin-bottom: 10px;
}

.qrlogo1{
    width: 150px;
}
.qrlogo2{
    width: 200px;
}
.qrlogo3{
    width: 200px;
}

img{
    display: block;
    // margin: auto;
}

.div2{
   width: 100%;
   display: flex;
   justify-content: space-around;
}

.pad{
    margin-bottom: 80px;
}

.barcode-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.barcode-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid #9A9B9B;
    min-height: 350px;
    width: 270px;
}

.tag-wrapper {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    span{
        margin: 0px 5px;
        color: #ffffff;
    }
}
.size-text{
    line-height: 35px;
}
.barcode-content{
    display: flex;
    justify-content: center;
    width: 270px;
    flex-direction: column;
}
.share-text {
    font-size: 20px;
    letter-spacing: 0px;
    color: var(--ion-color-medium);
    text-transform: uppercase;
    line-height: 28px;
}
.makenew-title{
    color: var(--ion-color-medium);
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
    line-height: 20px;
}
.next-btn-wrapper {
    margin-top: 30px;
}

.content-wrapper{
    justify-content: start;
}
.title-wrapper {
    margin-top: 20px;
}
@media screen and (max-width: 430px){
    .content-wrapper{
        display: unset;
    }
    .share-text{
        font-size: 16px;
    }
    .title-wrapper {
        margin-top: 15px;
    }
    
}