.card{
    margin: auto;
    // padding: 1px 1px 0px 0px;
    // max-width: 300px;
    // max-height: 420px;
    // border-radius: 10px;
    // margin-top: 30px;
    box-shadow: none !important;
    // border: solid 1px #d8d8d8;
}

// ion-button{
//     max-width: 40px;
//     --box-shadow:none;
//     margin-right: 10px;
// }

.qr{
    display: block;
    margin: 10px;
}

.logo{
    margin-top: 10px;
    width: 22%;
}

.logo2{
    // margin: auto;
    // max-width: 80px;
    // margin-top: 30px;
    width: 90%;
    height: 70px;
}

img{
    display: block;
    margin: auto;
}

.div2{
//    max-width: 250px;
   width: 100%;
   display: flex;
   justify-content: space-around;
//    margin: auto;
   margin-bottom: 10px;
}

.pad{
    margin-bottom: 80px;
}

.barcode-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.barcode-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #9A9B9B;
    height: 406px;
    width: 270px;
}

.tag-wrapper {
    padding: 10px 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    span{
        margin: 0px 5px;
    }
}
.size-text{
    line-height: 35px;
}
.barcode-content{
    display: flex;
    justify-content: center;
    width: 270px;
    flex-direction: column;
}
.share-text {
    font-size: 20px;
    letter-spacing: 0px;
    color: var(--ion-color-medium);
    text-transform: uppercase;
    line-height: 28px;
}
.makenew-title{
    color: var(--ion-color-medium);
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
    line-height: 20px;
}
.next-btn-wrapper {
    margin-top: 30px;
    padding-bottom: 20px;
}

.content-wrapper{
    justify-content: start;
}
.title-wrapper {
    margin-top: 20px;
}
@media screen and (max-width: 420px){
    .share-text{
        font-size: 16px;
    }
}