<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/pos"></ion-back-button>
    </ion-buttons>
    <ion-title>Special Offers & Deals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col>
        <img src="../../assets/Offer.png">
        <ion-button shape="round" size="small" color="tertiary">Upload Image</ion-button>
      </ion-col>
      <ion-col>
        <div>
          <ion-label color="light">Title</ion-label>
          <ion-input placeholder="Offer Title"></ion-input>
          <ion-label color="light">Terms</ion-label>
          <ion-input placeholder="Offer Terms"></ion-input>
          <ion-label color="light">Description</ion-label>
          <ion-input placeholder="Offer Description"></ion-input>
        </div>
      </ion-col>
    </ion-row>
</ion-content>
